{% extends "layout.html" %}

{% block content %}

    <div class="container ">
        <nav class="navbar nav justify-content-center">
            <span class="navbar-brand mb-0 h1">Daftar Laptop</span>
        </nav>
    </div>

    <div class="container border">
    <div class="container ">
        <nav class="navbar nav justify-content-center">
            <span class="navbar-brand mb-0 h1">Compare Laptop</span>
        </nav>
    </div>
        <div class="row">
           <div class="col-lg-2"></div>
           <div class="col-lg-3"><img src="{{url_for('static', filename='img/compare1.jpg')}}" alt="FYI_TECH" width= "100%"><button type="button" class="btn btn-light">Tambah</button></div>
           <div class="col-lg-2"></div>
           <div class="col-lg-3"><img src="{{url_for('static', filename='img/compare2.jpg')}}" alt="FYI_TECH" width= "100%"><button type="button" class="btn btn-light">Tambah</button></div>
           <div class="col-lg-2"></div>
        </div>
        
        <nav class="navbar nav justify-content-center">
	        <button type="button" class="btn btn-primary btn-sm">Compare</button>
        </nav>
        
    </div>

    <div class="container">
        <nav class="navbar navbar-light bg-white">
            <a class="navbar-brand" href="index.php"><img src="{{url_for('static', filename='img/fyi_logo1.png')}}" alt="FYI_TECH" width= "150px"></a>
            <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Kategori" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Cari</button>
            </form>
        </nav>
    </div>

    <div class="container border">
        <nav class="navbar nav justify-content-center">
            <span class="navbar-brand mb-0 h1">Daftar Laptop</span>
        </nav>
	    <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-2"><img src="{{url_for('static', filename='img/prodak/c1.png')}}" alt="FYI_TECH" width= "100%"></div>
            <div class="col-lg-2"><img src="{{url_for('static', filename='img/prodak/c2.png')}}" alt="FYI_TECH" width= "100%"></div>
            <div class="col-lg-2"><img src="{{url_for('static', filename='img/prodak/c3.png')}}" alt="FYI_TECH" width= "100%"></div>
            <div class="col-lg-2"><img src="{{url_for('static', filename='img/prodak/c4.png')}}" alt="FYI_TECH" width= "100%"></div>
            
            <div class="col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-2"><img src="{{url_for('static', filename='img/prodak/c1.png')}}" alt="FYI_TECH" width= "100%"></div>
        <div class="col-lg-2"><img src="{{url_for('static', filename='img/prodak/c2.png')}}" alt="FYI_TECH" width= "100%"></div>
        <div class="col-lg-2"><img src="{{url_for('static', filename='img/prodak/c3.png')}}" alt="FYI_TECH" width= "100%"></div>
        <div class="col-lg-2"><img src="{{url_for('static', filename='img/prodak/c4.png')}}" alt="FYI_TECH" width= "100%"></div>
        
        <div class="col-lg-2"></div>
  </div>
    </div>
    {% endblock %}